<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EasyGym</title>
    <!-- css -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/scrolling-nav.css' %}" />

    <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">



</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav-left">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Sobre</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Serviços</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#plans">Planos</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav-right">
                    <li>

                         <a href="{% url 'client:perfil' %}" data-toggle="modal" >Login</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#contacts">Contactos</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#testimony">Testemunhos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!--Login System-->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" align="center">
            <img id="img_logo" src="{% static 'img/Logo_principal.png' %}">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </div>

          <!-- Begin # DIV Form -->
          <div id="div-forms">

            <!-- Begin # Login Form -->
            <form id="login-form">
              <div class="modal-body">
                <div id="div-login-msg">
                  <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                  <span id="text-login-msg">Introduza o Username e Password</span>
                </div>
                <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Lembrar-me
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </div>
                <div>
                  <button id="login_lost_btn" type="button" class="btn btn-link">Perdeu a Password?</button>
                  <button id="login_register_btn" type="button" class="btn btn-link">Registar</button>
                </div>
              </div>
            </form>
            <!-- End # Login Form -->

            <!-- Begin | Lost Password Form -->
            <form id="lost-form" style="display:none;">
              <div class="modal-body">
                <div id="div-lost-msg">
                  <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                  <span id="text-lost-msg">Introduza o email</span>
                </div>
                <input id="lost_email" class="form-control" type="text" placeholder="E-Mail" required>
              </div>
              <div class="modal-footer">
                <div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                </div>
                <div>
                  <button id="lost_login_btn" type="button" class="btn btn-link">Log in</button>
                  <button id="lost_register_btn" type="button" class="btn btn-link">Registar</button>
                </div>
              </div>
            </form>
            <!-- End | Lost Password Form -->

            <!-- Begin | Register Form -->
            <form method="post" action='' id="register-form" style="display:none;">
                {% csrf_token %}
              <div class="modal-body">
                <div id="div-register-msg">
                  <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                  <span id="text-register-msg">Registar uma Conta</span>
                </div>

                  <label for="register_username"> <input id="register_username" name ='username' value='{{current_username}}' class="form-control" type="text" placeholder="Username" required></label>
                 <label for="register_email"><input id="register_email" name ='email' value='{{current_email}}' class="form-control" type="email" placeholder="E-Mail" required></label>
                 <label for="register_password"><input id="register_password" name ='password' value='{{current_password}}' class="form-control" type="password" placeholder="Password" required></label>
                 <label for="register_idade"><input id="register_idade" name ='idade' value='{{current_idade}}' class="form-control" type="number"  placeholder="Idade" required></label>
                 <label for="register_peso"><input id="register_peso" name ='peso' value='{{current_peso}}' class="form-control" type="number" placeholder="Peso" required></label>
                 <label for="register_altura"><input id="register_altura" name ='altura' value='{{current_altura}}' class="form-control" type="number" placeholder="Altura" required></label>

              </div>
              <div class="modal-footer">
                <div>
                    <a href="{% url 'index'%}">
                        <input type="submit" value="Gravar User">
                  <button type="submit" value="Gravar User"class="btn btn-primary btn-lg btn-block">Registar</button>
                         </a>
                </div>

                <div>
                  <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                  <button id="register_lost_btn" type="button" class="btn btn-link">Perdeu a Password?</button>
                </div>
              </div>
            </form>
            <!-- End | Register Form -->

          </div>
          <!-- End # DIV Form -->

        </div>
      </div>
    </div>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>NUNCA FOI TÃO FÁCIL ESTAR <span>EM FORMA</span></h1>
            <h2>DESCOBRE COMO!</h2>
            <a class="page-scroll" href="#about">
              <i class="material-icons md-96">expand_more</i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section" ;>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Sobre</h1>
            <div>
              <img src="{% static 'img/Logo_principal.png' %}">
              <p>Temos a tua disposição excelentes conteudos como video aulas e dicas de planos nutricionais. Isto são apenas algumas das ferramentas que podes utilizar para conseguires o teu corpo de sonho.
A EasyGym tem tudo aquilo que um ginásio tem com a vantagem de poderes estar tranquilamente em casa a fazer o teu treino!!!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Text Section -->
    <section id="text" class="text-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1><p>Sempre a desatinar</p><p>com os horários dos treinos?</p></h1>
            <h2><p>Com a <span>EasyGym</span> podes praticar</p><p>a qualquer hora e em qualquer lugar.</p></h2>
            <h3>Atreve-te!</h3>
            <!--
            <a class="page-scroll" href="#services">
            <i class="material-icons md-180">expand_more</i>
          </a>-->
        </div>
      </div>
    </div>
  </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Serviços Prestados</h1>
            <div id="srv_icon_1">
              <a href="{% url 'client:area_suply' %}"><i class="fa fa-coffee" aria-hidden="true"></i></a>
            </div>
            <div id="srv_icon_2">
              <a href="{% url 'client:area_cliente' %}"><i class="fa fa-user-circle" aria-hidden="true"></i></a>
            </div>
            <div id="srv_icon_3">
              <a href="{% url 'client:area_merch' %}"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
            </div>
            <div id="serv_head_1">
              <h3 class="Heading-1"><span class="C-15">Venda de Suplementos</span></h3>
            </div>
            <div id="serv_body_1">
              <p class="Body"><span class="C-16">Loja online onde podes adquirir todo o tipo de suplementos necessarios à boa performance do teu treino.</span></p></div>
              <div id="serv_head_2">
                <h3 class="Heading-2"><span class="C-15">Área de Cliente</span></h3>
              </div>
              <div id="serv_body_2">
                <p class="Body"><span class="C-16">A tua área. A área onde poderás gerir os teus treinos, verificar o teu progresso e ter acesso a conteudos para te ajudar a melhorar.</span></p></div>
                <div id="serv_head_3">
                  <h3 class="Heading-3"><span class="C-15">Venda de Merchandising</span></h3>
                </div>
                <div id="serv_body_3">
                  <p class="Body"><span class="C-16">A marca EasyGym tem uma vasta gama de produtos, tais como vestuario desportivo, calçado desportivo e muito mais.</span></p></div>

                </div>
              </div>
            </div>
          </section>

    <!-- Plans Section -->
    <section id="plans" class="plans-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Escolhe o teu Plano</h1>
            <div>
              <div id="plano_free">
                <h2>Plano FREE</h2>
                <ul>
                  <li>Perfil Pessoal</li>
                  <li>Suplementos</li>
                  <li>Merchandising</li>
                  <li>Planos Nutricionais</li>
                  <li>Dicas de Treino</li>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                  <li>-</li>
                </ul>

                  <a href="{% url 'plans' %}" >Saber Mais</a>
              </div>
              <div id="plano_premium">
                <h2>Plano PREMIUM</h2>
                <ul>
                  <li>Perfil Pessoal</li>
                  <li>Suplementos</li>
                  <li>Merchandising</li>
                  <li>Planos Nutricionais</li>
                  <li>Dicas de Treino</li>
                  <li>Video Aulas</li>
                  <li>Treino Acompanhado</li>
                  <li>Gestão do Progresso</li>
                  <li>Apoio via Chat</li>
                </ul>
                <a href="{% url 'plans' %}" >Saber Mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimony Section -->
    <section id="testimony" class="testimony-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Testemunhos</h1>
                    <div class="testimony-1">
                      <img class="img-circle"src="{% static 'img/ramos.jpg' %}" width=100px >
                      <p id="testimony_text">"Sempre quis perder a barriga, mas a vontade de sair de casa para ir fazer exercicio era pouca. Com a EasyGym é tudo mais facil!"</p>
                      <p id="testimony_id">Pedro Ramos</p>
                    </div>
                    <div class="testimony-2">
                      <img class="img-circle"src="{% static 'img/leal.png' %}" width=100px >
                      <p id="testimony_text">"Andei de ginásio em ginásio e nunca consegui encontrar a motivação certa para melhorar. A EasyGym trouxe-me de volta essa motivação"</p>
                      <p id="testimony_id">Daniel Leal</p>
                    </div>
                    <div class="testimony-3">
                      <img class="img-circle"src="{% static 'img/rn.png' %}" width=100px >
                      <p id="testimony_text">"Excelente!Sentimos que este programa de fitness melhorou tanto a nossa saúde física como a saúde da nossa relação. Sinto que o meu companheiro está mais proactivo, e é tão bom!
Ultimamente estávamos com problemas no quarto, mas com o EasyGym ele voltou a tomar a iniciativa!"</p>
                      <p id="testimony_id">Casal: João Neto e Ricardo Lopes</p>
                    </div>
                  </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contacts" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contactos</h1>
                </div>
            </div>
        </div>
    </section>

  <!-- jQuery -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %} "></script>
    <!--<script src="static/js/jquery2.js"></script>-->

   <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--<script src="static/js/bootstrap2.min.js"></script>-->

    <!-- Scrolling Nav JavaScript -->
    <script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scrolling-nav.js' %}"></script>
   <!-- <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/scrolling-nav.js"></script>-->
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

    <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".navbar-default");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
    });
    </script>
    <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".navbar-header");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
    });
    </script>
    <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".navbar-nav-left");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
    });
    </script>
    <script>
    $(function () {
      $(document).scroll(function () {
        var $nav = $(".navbar-nav-right");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
      });
    });
    </script>

</body>

</html>
