<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EasyGym - Planos</title>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/plans.css' %}" />

  <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">

</head>
<body>
  <section id="plans" class="plans-section">
    <img src="{% static 'img/Logo_principal.png' %}" width="10%"/>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>AJUDAMOS-TE A DECIDIR</h1>
          <div>
            <div id="plano_free">
              <h2>Plano FREE</h2>
              <ul>
                <li>Perfil Pessoal<span><p>Aqui podes ter acesso á tua conta pessoal,</p><p>onde geres toa a tua atividade.</p></span></li>
                <li>Suplementos<span><p>Loja online onde podes adquirir todo o tipo</p><p>de suplementos necessarios à boa</p><p>performance do teu treino.</p></span></span></li>
                <li>Merchandising<span><p>A marca EasyGym tem uma vasta gama de</p><p>produtos, tais como vestuario desportivo,</p><p>calçado desportivo, tapetes de treino,</p><p>copos para batidos e muito mais.</p></span></li>
                <li>Planos Nutricionais<span><p>Para quem realmente quer levar a sua dieta</p><p>a sério, fornecemos varios planos nutricionais,</p><p>conforme o objectivo de cada um.</p></span></li>
                <li>Dicas de Treino<span><p>Conforme o objectivo, damos dicas de treino</p><p>à medida de cada um e conforme o</p><p>ritmo permitido, em função da idade,</p><p>do número de aulas, etc.</p></span></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>

              <a href="{% url 'client:perfil' %}"> <h3>Registar</h3></a>
            </div>
            <div id="plano_premium">
              <h2>Plano PREMIUM</h2>
              <ul>
                <li>Perfil Pessoal<span><p>Aqui podes ter acesso á tua conta pessoal,</p><p>onde geres toa a tua atividade.</p></span></li>
                <li>Suplementos<span><p>Loja online onde podes adquirir todo o tipo</p><p>de suplementos necessarios à boa</p><p>performance do teu treino.</p></span></span></li>
                <li>Merchandising<span><p>A marca EasyGym tem uma vasta gama de</p><p>produtos, tais como vestuario desportivo,</p><p>calçado desportivo, tapetes de treino,</p><p>copos para batidos e muito mais.</p></span></li>
                <li>Planos Nutricionais<span><p>Para quem realmente quer levar a sua dieta</p><p>a sério, fornecemos varios planos nutricionais,</p><p>conforme o objectivo de cada um.</p></span></li>
                <li>Dicas de Treino<span><p>Conforme o objectivo, damos dicas de treino</p><p>à medida de cada um e conforme o</p><p>ritmo permitido, em função da idade,</p><p>do número de aulas, etc.</p></span></li>
                <li>Video Aulas<span><p>Podes escolher entre as várias aulas</p><p>disponíveis conforme o teu nivel.</p></span></li>
                <li>Treino Acompanhado<span><p>Todas as aula podem ter acompanhamento</p><p>por monitores experientes, a quem podes</p><p>colocar questões relacionadas com o treino.</p></span></li>
                <li>Gestão do Progresso<span><p>Aqui podes registar todos os dados relevantes</p><p>relacionados com os treinos e a sua evoluçao,</p></span></li>
                <li>Apoio via Chat<span><p>Podes colocar questões sobre os treinos,</p><p>sobre os suplementos, sobre a nutrição</p><p>ou sobre todos os produtos da nossa marca.</p></span></li>
              </ul>
              <a href="{% url 'client:perfil' %}"> <h3>Registar</h3></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="return" href="/home">
      <i class="fa fa-home" style="font-size: 96px;" aria-hidden="true"></i>
    </a>
  </section>
</body>
