 @import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    height: 100%;
    padding-top: 3%;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/intro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about-section {
    height: 50%;
    padding-top: 3%;
    text-align: center;
    background:#eee;
}

.text-section {
    height: 100%;
    padding-top: 3%;
    text-align: center;
    background-image: url("../img/pexels-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.services-section {
    height: 70%;
    padding-top: 3%;
    text-align: center;
    background: #eee;
}

.plans-section {
    height: 100%;
    padding-top: 3%;
    text-align: center;
    background-image: url("../img/pexels-photo-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.testimony-section {
    height: 70%;
    padding-top: 3%;
    text-align: center;
    background: #eee;
}

.contact-section {
    height: 100%;
    padding-top: 3%;
    text-align: center;
    background-image: url("../img/pexels-photo-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#intro h1{
  position: relative;
  text-align: center;
  padding-top: 35%;
  color: white;
  font-size: 300%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
}
#intro h2{
  position: relative;
  text-align: center;
  padding-top: 5%;
  color: white;
  font-size: 300%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
}
#intro i{
  position: relative;
  text-align: center;
  padding-top: 2%;
  color: white;
}

#about img{
  float: left;
  margin: 5%;
  width:25%;
}
#about p{
  margin: 5%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 120%;
  position: relative;
  left:2%;
  width: 90%;
}
#text h1{
  position: relative;
  text-align: center;
  margin-top: 20%;
  color: white;
  font-size: 350%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
#text h2{
  position: relative;
  text-align: center;
  margin-top: 5%;
  color: white;
  font-size: 350%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
#text h3{
  position: relative;
  text-align: center;
  margin-top: 5%;
  color: white;
  font-size: 350%;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
#text i{
  position: relative;
  text-align: center;
  color: white;
  margin-top: 10%;
}
#srv_icon_1{
  position:absolute;left:120px;top:180%;width:15%;height:15%;
}
#srv_icon_2{
  position:absolute;left:500px;top:180%;width:15%;height:15%;
}
#srv_icon_3{
  position:absolute;left:900px;top:180%;width:15%;height:15%;
}
#serv_head_1{
  position:absolute;left:60px;top:430%;width:300px;height:50px;overflow:hidden;
}
#serv_head_2{
  position:absolute;left:440px;top:430%;width:300px;height:50px;overflow:hidden;
}
#serv_head_3{
  position:absolute;left:830px;top:430%;width:300px;height:50px;overflow:hidden;
}
#serv_body_1{
  position:absolute;left:60px;top:530%;width:300px;height:150px;overflow:hidden;
}
#serv_body_2{
  position:absolute;left:440px;top:530%;width:300px;height:150px;overflow:hidden;
}
#serv_body_3{
  position:absolute;left:830px;top:530%;width:300px;height:150px;overflow:hidden;
}

#plans h1{
  padding: 2%;
  background-color: white;
  opacity: 0.7;
  color: black;
}
#plano_free_head h2{
  margin-top: 1%;
  padding: 2%;
  background-color: white;
  opacity: 0.7;
  color: black;
  width: 49%;
  float: left;
}

#plano_premium_head h2{
  margin-top: 1%;
  padding: 2%;
  background-color: white;
  opacity: 0.7;
  color: black;
  width: 49%;
  float: right;
}
#plano_free_body h2{
  margin-top: 1%;
  padding: 2%;
  background-color: white;
  opacity: 0.7;
  color: black;
  width: 49%;
  float: left;
  min-height: 500px;
}

#plano_premium_body h2{
  margin-top: 1%;
  padding: 2%;
  background-color: white;
  opacity: 0.7;
  color: black;
  width: 49%;
  float: right;
  min-height:500px;
}
#testimony_text{
  font-size: 200%;
  margin-top: 5%;
}
#testimony_id{
  font-size: 100%;
  margin-top: 5%;
}
.testimony-1,
.testimony-2,
.testimony-3 {
  overflow: hidden;
	position: absolute;
  display: block;
	top: 300%;
  width: 60%;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.testimony-1{
	animation-name: anim-1;
}

.testimony-2{
	animation-name: anim-2;
}

.testimony-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 5% { left: -100%; opacity: 0; }
  10%,30% { left: 20%; opacity: 1; }
  35%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 35% { left: -100%; opacity: 0; }
  40%, 60% { left: 20%; opacity: 1; }
  65%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 65% { left: -100%; opacity: 0; }
  70%, 90% { left: 20%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
#contact h1{
  padding: 10px;
  background-color: white;
  opacity: 0.7;
  color: black;
}
.material-icons.md-96 { font-size: 96px; }
.material-icons.md-120 { font-size: 120px; }
.material-icons.md-180 { font-size: 180px; }

#login-modal .modal-dialog {
    width: 550px;
    margin-top: 200px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
    background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
    background-color: #eb575b !important;
}

#img_logo {
    max-height: 100px;
    max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}
