body {
    background: white url("images/background.png");
    padding-top: 50px;
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}
.menu-toggle{
  color: white;
}

h2{
  background-color: transparent;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: #366E7C;
  margin-bottom: 2%;
}
h2::before{
  content: "";
  position: absolute;
  width: 30%;
  bottom: -30%;
  left: 35%;
  border-bottom: 3px solid #D8543F;
}

#sidebar-wrapper{
  z-index: 1;
  position: fixed;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background-color: #366E7C;

}
#page-content-wrapper{
  width:100%;
  margin-left: 0;
  position: absolute;
}
#wrapper.menu #sidebar-wrapper{
  width: 12%;
  transition: right 0.6s ease;
}

#wrapper.menu #page-content-wrapper{
  margin-left: 12%;
  width:88%;
}
#menu-toggle{
  color: white;

}
.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
}
.sidebar-nav li:active {
    background-color: white;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li a:hover {
    background: #D8543F;
}



.calen{
  margin-top: 40px;
 text-align: center;
 font-size: 14px;
 font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
#wrap {
  width: 1500px;
  margin-left: 2%;
  margin-top: 2%;
}

#external-events {
  float: left;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

#external-events .fc-event {
  margin: 10px 0;
  cursor: pointer;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

#calendar {
  float: right;
  width: 900px;
}
.mb-20{
  margin-bottom:20px;
}
