body{
  background-color: #eee;
  font-family: Arial;
  opacity: 1;
}
html {
    width: 100%;
    height: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.log-section{
  height: 100%;
  text-align: center;

}
#log h1{
  background-color: transparent;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: #366E7C;
}
#log h1::before{
  content: "";
  position: absolute;
  width: 30%;
  bottom: -30%;
  left: 35%;
  border-bottom: 3px solid #D8543F;
}
#log h2{
  background-color: transparent;
  display: inline-block;
  position: relative;
  font-size: 100%;
  list-style-type: none;
  text-align: center;
  color: #366E7C;
  margin-left: -10%;
}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #366E7C;;
  padding: 2px 60px 2px 60px;
  border: solid #366E7C;
  text-decoration: none;
}

.btn:hover {
  background: #D8543F;;
  text-decoration: none;
}
.return{
  position: fixed;
  top: 85%;
  left: 90%;
  color: #366E7C;
}
.return:hover{
  color: #D8543F;
}
