<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}EasyGym{% endblock %}</title>
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
  <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/fullcalendar.min.css' >
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'client/style.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.7/fullcalendar.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="{% static 'client/js/calendar.js' %}"></script>
  <script src="{% static 'client/js/main.js' %}"></script>

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">

      <!-- Header -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#" id="menu-toggle"><i class="fa fa-bars" aria-hidden="true">&nbsp;</i><i class="fa fa-caret-right" aria-hidden="true"></i></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"  href="../../home"><div><img src="{% static 'client/images/Logo_muito_simples_branco_small.png' %}"/></div></a>
      </div>



      <!-- Items -->
      <div class="collapse navbar-collapse" id="topNavBar">
        <ul class="nav navbar-nav">
          <li class="{% block client_active %}{% endblock %}"><a href="{% url 'client:area_cliente' %}"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Area de Cliente</a></li>
          <li class="{% block suply_active %}{% endblock %}"><a href="{% url 'client:area_suply' %}"><i class="fa fa-coffee" aria-hidden="true"></i>&nbsp; Suplementos</a></li>
          <li class="{% block mercha_active %}{% endblock %}"><a href="{% url 'client:area_merch' %}"><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp; Merchadising</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!--<li>
          <a href="{% url 'client:create_album' %}">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; info
        </a>
      </li>-->
      <li>
        <a href="{% url 'client:logout_user' %}"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp; Logout
        </a>
      </li>
    </ul>
  </div>

</div>
</nav>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li ><a href="{% url 'client:perfil' %}"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Perfil</a></li>
      <li ><a href="{% url 'client:planos' %}"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Planos Nutricionais</a></li>
      <li ><a href="{% url 'client:dicas' %}"><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Dicas de Treino</a></li>
      <li ><a href="{% url 'client:calendario' %}"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Calendário de Treino</a></li>
      <li ><a href="{% url 'client:progresso' %}"><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Progresso</a></li>
      <li ><a href="{% url 'client:videoaulas' %}"><i class="fa fa-film" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Video Aulas</a></li>
    </ul>

  </div>
  <div id="page-content-wrapper">
  {% block body %}
  {% endblock %}
  </div>
</div>

<script>
$("#menu-toggle").click( function(e){
  e.preventDefault();
  $("#wrapper").toggleClass("menu");
});
</script>
</body>
</html>
