{% extends 'client/client_base.html' %}
{% block title %}Treinos{% endblock %}
{% block client_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>Treinos</h2>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Treino Funcional
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div class="well">
                    O treino funcional baseia-se em movimentos naturais do ser humano, como saltar, correr, puxar, agachar, girar e empurrar. O praticante ganha força, equilíbrio, flexibilidade, condição física , resistência e agilidade. Este tipo de treino  tira a pessoa dos movimentos mecânicos e eixos definidos ou isolados, como acontece na musculação.
                    É um método que ajuda a prevenir lesões, gera melhorias cardiovasculares, a reduz a percentagem de massa gordura, contribui para o emagrecimento e definição muscular. Para trabalhar a musculatura profunda, são utilizados acessórios como elásticos, cordas, bolas, cones, discos e hastes.
                    Este é um treino bastante eficaz visto que dependendo do nível de condicionamento físico, o indivíduo pode ter o gasto médio de 800 calorias em uma hora de funcional. Correndo durante o mesmo tempo, gasta-se cerca de 700 calorias!
                  </div>
                  <div class="well">
                    <h4>Benefícios do Treino Funcional:</h4>
                    <ul>
                      <li>O programa adapta-se as necessidades do praticante.</li>
                      <li>Treina diversas habilidades motoras.</li>
                      <li>Ganha saúde, performance e o corpo dos teus sonhos.</li>
                      <li>Treina movimentos, não apenas músculos.</li>
                      <li>Altamente motivador pela quantidade infinita de exercícios e possibilidades.</li>
                      <li>Desenvolvimento da percepção dos movimentos.</li>
                      <li>Melhoria da postura geral e durante os exercícios.</li>
                      <li>Melhoria do equilíbrio muscular (simetria).</li>
                      <li>Melhoria da eficiência dos movimentos.</li>
                      <li>Aumento da estabilidade da região core (saúde da coluna vertebral).</li>
                      <li>Melhoria do equilíbrio estático e dinâminco.</li>
                      <li>Aumento de força muscular.</li>
                      <li>Melhoria das estruturas afetadas por lesão no processo de reabilitação.</li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Treino Força
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <div class="well">
                    O treino de força é um treino que foca aumento do recrutamento das unidades musculares, portanto, o corpo fará solicitação de uma maior quantidade de fibras musculares para que a resistência imposta ao mesmo seja vencida.
                    Algumas pessoas confundem treino de força com hipertrofia, apesar de ambas aumentarem a força e o diâmetro do músculo, porém um dará mais enfase do que o outro. No treino de força você irá ficar mais forte, hipertrofia você irá ficar maior.
                    O treino de força tem indicação para qualquer indivíduo, já que treinar força melhorará o equilíbrio, agilidade, velocidade, coordenação motora e potência. Melhorando a performance nos treinos, em qualquer desporto ou no dia-a-dia.
                  </div>
                  <div class="well">
                    <h4>Como fazer um treino de força?</h4>
                    Normalmente, o treino de força pura tem entre 1 a 6 repetições, usando 90% a 100% da carga máxima, com repouso de 3 a 5 minutos de uma série à outra.
                    É importante lembrar que essas repetições deve ser feitas corretamente, e caso consigas mais de 6 repetições é sinal de que a carga está leve para um treino de força.
                    Como esse treino possui uma intensidade muito alta, deve durar entre 2 a 4 semana no máximos sempre periodizando, para que os músculos não fiquem cansados antes de serem trabalhados  e/ou não tenham o tempo de recuperação necessária, correndo o risco de sofrer lesões.

                    Um fator essencial para o sucesso do treino de força tem a ver com a alimentação, que deve incluir carboidratos, gorduras e proteínas de modo equilibrado, já que estes elementos são fundamentais à construção muscular.
                    A nutrição é uma característica à parte na musculação, já que assim como em outros tipos de treino, a nutrição deve ter organização segundo os objetivos.  Força e músculos exigem tempo para a construção, sendo preciso ter paciência e persistir.
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    CrossFit
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <div class="well">
                    O CrossFit é um programa de treino de força e condicionamento físico geral baseado em movimentos funcionais, feitos em alta intensidade e constantemente variados. Normalmente esses movimentos enquadram-se em três modalidades: levantamento de peso olímpico, ginástica olímpica e condicionamento metabólico, ou cardio. O CrossFit é o método de treinamento que mais cresce atualmente no mundo, por proporcionar a mais completa adaptação físiológica possível no seu praticante, independente da idade ou nível físico do mesmo.

                    Num treino típico, os atletas e praticantes irão fazer um aquecimento e a prática de uma técnica ou segmento de treinamento de força e depois o WOD (workout of the day), ou treino do dia. A montagem do WOD muda de dia para dia, mas tipicamente inclui uma mistura de exercícios funcionais feitos em alta intensidade por um período que geralmente varia entre 5 a 20 minutos.
                    O principal equipamento para a sua prática é o nosso próprio corpo. Porém pode ser também utilizado técnicas e equipamentos específicos como barras e anilhas olímpicas, kettlebells, pesos livres, cordas, caixas, bolas, pneus, argolas, elásticos, correntes entre outros.

                    Por meio de um programa único de treino baseado em movimentos naturais, funcionais e sempre variados, o CrossFit garante um treino completo, diferenciado, desafiador e altamente eficiente, tanto mentalmente como esteticamente, e para toda nossa saúde em geral.
                  </div>
                  <div class="well">
                    <h4>Benefícios do crossFit:</h4>
                    <ul>
                      <li>Aumento da força</li>
                      <li>Redução percentual de gordura</li>
                      <li>Melhora na flexibilidade</li>
                      <li>Melhora na capacidade cardiovascular e respiratória</li>
                      <li>Aumento de explosão e velocidade</li>
                      <li>Aumento de resistência muscular</li>
                      <li>Aumento do equilíbrio</li>
                      <li>Redução de stress</li>
                      <li>Definição muscular</li>
                      <li>Treino altamente eficiente onde em menos tempo pode-se atingir resultados incríveis</li>
                      <li>Treino que fortalece o corpo por inteiro</li>
                      <li>Excelente treino preparatório para atletas</li>
                      <li>Espírito de equipa</li>
                      <li>Aumento da auto-confiança</li>
                      <li>Melhoria no desempenho em corridas de longa e curta distância</li>
                      <li>Prevenção de lesões, quando praticado com o auxílio de profissionais qualificados</li>
                      <li>Aumento de energia</li>
                      <li>Pode ser praticado por qualquer pessoa, inclusive grávidas, idosos e crianças, desde que acompanhado por profissionais qualificados</li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Cardio
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <div class="well">
                    O treino de cardio ou treino cardiovascular pode ser defino como todo exercício físico que aumenta a frequência cardíaca. O principal objetivo é adquirir resistência física através do fortalecimento do sistema cardiovascular.
                    Este treino está relacionado a exercícios do tipo aeróbicos como corrida, ciclismo, natação e <a href="http://hiitbrasil.com/o-que-e-hiit/" style="display:inline;" >Hiit</a>.

                    Existe treino de cardio de baixa e alta intensidade de exercícios:
                    <ul>
                      <li>Treino de Cardio Baixa intensidade: Neste treinamento deve-se focar em exercícios de longa duração e baixa intensidade. A duração dos exercícios pode variar de 30 (trinta) minutos a até 2 (duas) horas.</li>
                      <li>Treino de Cardio Alta Intensidade: os exercícios devem ser intensos de curta duração seguidos de pequenos intervalos.</li>
                    </ul>
                  </div>
                  <div class="well">
                    <h4>Baixa Intensidade VS Alta Intensidade. Qual escolher?</h4>
                    <ul>
                      <li>Baixa Intensidade: se o objetivo for aumentar a resistência física e manter a forma. Tenha em mente que precisará de mais tempo livre para a prática.</li>
                      <li>  Alta Intensidade: se o objetivo for perder peso e definir a musculatura. Uma das principais vantagens do treino de alta intensidade é o pouco tempo semanal necessário para os exercícios. Você pode fazer séries de apenas 4 (quatro) minutos diários.</li>
                    </ul>
                  </div>
                  <div class="well">
                    <h4>Benefícios do treino de cardio</h4>
                    Ao praticar qualquer treino de cardio, como o hiit, seu corpo receberá muitos benefícios. Suas veias e artérias se tornarão muito mais eficazes, e assim, seu coração terá muito menos trabalho ao bombear o sangue por elas.
                    Além disso, o treino de cardio:
                    <ul>
                      <li>Fortalece o sistemas cardio respiratório</li>
                      <li>Aumenta a imunidade</li>
                      <li>Alivia o stress</li>
                      <li>Aumenta a resistência física</li>
                      <li>Ajuda a manter a forma e perder peso</li>
                      <li>Elimina o colesterol ruim</li>
                      <li>Previne contra doenças do coração e do sistema respiratório</li>
                    </ul>
                    Lembre-se sempre de consultar um médico e fazer exames periódicos antes de praticar qualquer tipo de exercício físico.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
