{% extends 'client/base_client.html' %}
{% block title %}Perfil{% endblock %}
{% block client_active %}active{% endblock %}

{% block body %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="well">
              <div class="title2"> Login info: </div>

              <div>

                <div><div class=title3>  Nome de Login:</div>  <div class=title4>ricardo.lopes</div></div>
                <div><div class=title3>Password:</div> <div class=title4> ********</div>
                <button>Alterar</button>
              </div>
              <div><div class=title3>Email:</div> <div class=title4>rjpls@iscte-iul.pt</div>
              <button>Alterar</button>
            </div>
            <div><div class=title3>Tipo de Cliente:</div> <div class=title4> Premium </div></div>
          </div>

        </div>
        <div class="well">
          <div class="title2" style=" top: 500px; left: 300px;"> Sobre mim: </div>

          <div >

            <div><div class=title3>  Sexo:</div>  <div class=title4>masculino</div></div>
            <div><div class=title3>  Data de Nascimento:</div>  <div class=title4>22-7-1996</div></div>
            <div><div class=title3>  Altura:</div>  <div class=title4>1.80 m</div></div>
            <div><div class=title3>  Peso Inicial:</div>  <div class=title4>85.0 kg</div></div>
            <div><div class=title3>  Peso Atual:</div>  <div class=title4>80.0 kg</div></div>
            <div><div class=title3>  IMC:</div>  <div class=title4>24.69 (normal)</div></div>
          </div>
        </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
