{% extends 'client/base_client.html' %}
{% block title %}Planos Nutricionais{% endblock %}
{% block client_active %}active{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Planos Nutricionais</h2>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Plano de Alimentação Saudável
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <div class="well">
                    <h4>2ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 dl de leite magro</li>
                      <li>3 tostas integrais</li>
                      <li>1 colher de chá de compota</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 iogurte magro</li>
                      <li>2 bolachas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>100 g peru grelhado</li>
                      <li>3 c.s. de massa com pouca gordura</li>
                      <li>Salada de alface e tomate sem gordura</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 fruta (maçã, laranja, quiwi, pêssego, tanjerina, pêra, alperce, etc)</li>
                      <li>2 bolachas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">2º Lanche da tarde</h5>
                      <li>2 tostas integrais com 1 queijo magro (pequeno)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>Salada de frutos do mar (2 lulas, 2 c.s. de camarão, 1 c.s. de berbigão, 1 alface, 1 cenoura, 1 iogurte natural, 1 batata pequena)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 chá com 2 tostas</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>3ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 dl de leite magro</li>
                      <li>3 tostas integrais</li>
                      <li>2 fatias de queijo magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 fruta (maçã, laranja, quiwi, pêssego, tanjerina, pêra, alperce, etc)</li>
                      <li>2 bolachas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>120 g de pescada cozida</li>
                      <li>1 ovo</li>
                      <li>2 batatas pequenas</li>
                      <li>legumes (grelos de nabo ou de couve, bróculos, couve-flor, couve, etc)
                      pouca gordura para temperar (limão, cominhos, pouco azeite)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 iogurte magro</li>
                      <li>2 bolachas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">2º Lanche da tarde</h5>
                      <li>1 fruta</li>
                      <li>2 tostas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>1 sopa de feijão</li>
                      <li>1 pão com 2 fatias de queijo magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 copo de leite magro</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>4ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 dl de leite magro</li>
                      <li>30 g de cereais integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 chá</li>
                      <li>4 bolachas com compota (1 colher de chá)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>100 g carapau grelhado</li>
                      <li>2 batatas pequenas</li>
                      <li>Salada de alface e tomate com pouca gordura</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 iogurte magro</li>
                      <li>2 bolachas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">2º Lanche da tarde</h5>
                      <li>1 fruta (maçã, laranja, quiwi, pêssego, tanjerina, pêra, alperce, etc)</li>
                      <li>2 tostas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>100 g de vitela estufada</li>
                      <li>4 c.s. de arroz branco com pouca gordura</li>
                      <li>bróculos cozidos</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 iogurte magro</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>5ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 dl de leite magro</li>
                      <li>3 tostas integrais</li>
                      <li>1 queijo fresco pequeno</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>2 dl de leite magro</li>
                      <li>2 bolachas de água e sal</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>100 g peito de frango assado</li>
                      <li>6 c.s de favas ou ervilhas com pouca gordura</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 fruta (maçã, laranja, quiwi, pêssego, tanjerina, etc)</li>
                      <li>2 bolachas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">2º Lanche da tarde</h5>
                      <li>2 tostas integrais com compota</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>1 omoleta com 1 ovo, 100 g de espinafres, 25 g de cogumelos, 1 cebola pequena, salsa</li>
                      <li>1 fatia de pão integral</li>
                      <li>1 fruta (maçã, laranja, quiwi, pêssego, tanjerina, pêra, alperce, etc)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 iogurte magro</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>6ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>1 iogurte magro</li>
                      <li>30 g de cereais integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 fruta</li>
                      <li>2 bolachas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>100 g de carne magra (peru, peito de frango) picada</li>
                      <li>1 chávena almoçadeira de massa com pouca gordura</li>
                      <li>1 salada de alface e tomate</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>2 dl de leite magro</li>
                      <li>2 bolachas integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">2º Lanche da tarde</h5>
                      <li>2 tostas integrais com queijo magro ou 1 chá</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>120 g de peixe espada grelhado</li>
                      <li>2 batatas pequenas</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>2 dl de leite magro</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>Fim de Semana</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>1 sumo de frutas natural</li>
                      <li>2 tostas integrais</li>
                      <li>1 colher de chá de compota</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 iogurte magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>1 sopa leve de legumes</li>
                      <li>120 g de atum com alface, tomate, cebola, 3.c.s. grão</li>
                      <li>1 fatia de pão integral</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>2 dl de leite magro</li>
                      <li>30 g de cereais integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">2º Lanche da tarde</h5>
                      <li>2 tostas integrais com queijo magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>1 sopa de feijão ou grão</li>
                      <li>1 pão com uma fatia de peru magro</li>
                      <li>1 fruta</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 tosta com 1 colher de café de compota</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Plano Alimentar Equilibrado
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <div class="well">
                    <h4>Pequeno-almoço (tomar 2 pontos da lista)</h4>
                    <ul>
                      <li>1 Fatia pão integral</li>
                      <li>1 Queijo fresco</li>
                      <li>1 Copo de leite magro (200ml)</li>
                      <li>1 Maçã</li>
                      <li>1 Taça pequena de cereais integrais light</li>
                      <li>Compota de frutas ou marmelada sem sacarose, com frutose</li>
                      <li>1 Fatia de fiambre de frango ou peru e 1 fatia de queijo flamengo</li>
                      <li>1 Iogurte natural</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>Meio da Manhã (tomar apenas um ponto da lista)</h4>
                    <ul>
                      <li>1 Fatia de pão integral ou de centeio</li>
                      <li>1 Queijo magro ou 1 fatia de queijo e 1 fatia de fiambre magro</li>
                      <li>1 Iogurte magro</li>
                      <li>1 Laranja</li>
                      <li>3 Colheres de sopa de cereais integrais</li>
                      <li>2 Bolachas água e sal</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>Almoço (sopa + prato principal + salada)</h4>
                    <ul>
                      <li>Sopa de legumes (sem batata)</li>
                      <li>Salada de alface, atum, milho, feijão, cebola, tomate e 2 colheres de sumo de limão</li>
                      <li>Salada variada, temperada com 1 colher de sobremesa de azeite</li>
                      <li>Salada de alface e tomate e 2 colheres de sumo de limão</li>
                      <li>1 Posta de peixe grelhado (130g) + 1 batata cozida ou ¼ prato de arroz</li>
                      <li>1 Posta de filetes de pescada grelhados</li>
                      <li>2 Bifes de peru grelhados + 2 colheres de sopa de arroz cozido</li>
                      <li>Salada russa (sem maionese) com 1 batata média, cenoura, feijão verde, milho, ervilhas, brócolos e 1 ovo</li>
                      <li>2 Fatias de peito de frango grelhado com limão e especiarias + 1 batata cozida ou ¼ prato de arroz</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>Lanche (tomar apenas 1 ponto da lista)</h4>
                    <ul>
                      <li>1 Peça de fruta</li>
                      <li>1 Iogurte líquido magro</li>
                      <li>200ml de leite magro com cereais light</li>
                      <li>2 Bolachas de água e sal com queijo fresco magro</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>Jantar (sopa + prato principal + salada)</h4>
                    <ul>
                      <li>Sopa de legumes com feijão e grão</li>
                      <li>2 Bifes de peru grelhados</li>
                      <li>Salada temperada com 1 colher de sobremesa de azeite</li>
                      <li>Peito de frango grelhado com especiarias e limão</li>
                      <li>2 Colheres de sopa de massa cozida</li>
                      <li>1 Posta de bacalhau cozido com azeite</li>
                      <li>1 Colher de sopa de arroz</li>
                      <li>1 Posta de linguado grelhado com um fio de azeite</li>
                      <li>2 Fatias de peito de frango grelhado com limão e especiarias + 1 batata cozida ou ¼ prato de arroz</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>Ceia (tomar apenas 1 ponto da lista)</h4>
                    <ul>
                      <li>1 Copo de leite magro (200ml)</li>
                      <li>1 Pêssego</li>
                      <li>1 Iogurte magro</li>
                      <li>1 Queijo fresco magro</li>
                      <li>1 Tosta integral</li>
                      <li>2 Bolachas água e sal</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Plano Alimentar Semanal para Homens
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <div class="well">
                    <h4>2ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 fatias médias de pão integral ou de centeio</li>
                      <li>3 fatias queijo fresco magro grande (200g) ou queijo light e fiambre magro (sem gordura)</li>
                      <li>Um sumo de laranja natura</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 Maçã</li>
                      <li>1 batido Total Whey (1,5 medidas) com 150 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Salada de alface, tomate, 2 colheres de sumo de limão</li>
                      <li>2 postas de filetes de pescada grelhados (130g)</li>
                      <li>2 batatas cozidas (50-60g)</li>
                      <li>Fio de azeite</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 batido Total Whey (1,5 medidas) com iogurte líquido magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>1 Prato médio de sopa de legumes com feijão, grão e hortaliças</li>
                      <li>1 Bife de peru grelhados com especiarias (140 g)</li>
                      <li>1 pêssego</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>300 ml de leite magro</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>3ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>Uma taça pequena de cereais integrais light</li>
                      <li>400-500ml de leite magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 batido Total Whey (1,5 medidas) com iogurte líquido magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Sopa de legumes</li>
                      <li>Salada de alface, 1,5 latas de atum escorrido ou ao natural, milho, feijão, cebola, tomate, 2 colheres de sumo de limão</li>
                      <li>Fio de azeite</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 maçã</li>
                      <li>1 batido Total Whey (1,5 medidas) com 150ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Água</li>
                      <li>3/4 peitos de frango grelhado com especiarias, limão e salada</li>
                      <li>2/3 colheres de sopa de massa cozida</li>
                      <li>1 pêra</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>2 tostas</li>
                      <li>1 queijo fresco grande (magro ou pouco gordo)</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>4ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 dl de leite magro</li>
                      <li>Compota de frutas ou marmelada sem sacarose, com frutose</li>
                      <li>2 fatias de queijo light</li>
                      <li>400 ml de leite magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 laranja</li>
                      <li>4 bolachas de água e sal</li>
                      <li>1 batido Total Whey (1,5 medidas) com 150ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Salada de alface, tomate, com 2 colheres de sumo de limão</li>
                      <li>3/4 Bifes de peru grelhados</li>
                      <li>3 colheres de sopa de arroz cozido</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>300 ml de leite magro com cereais light</li>
                      <li>1 batido Total Whey (1,5 medidas)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Sopa de Legumes com feijão e grão</li>
                      <li>1 posta de bacalhau cozido (cerca de 140g) com azeite, com legumes e 1 ovo</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 iogurte magro</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>5ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 fatias médias de pão integral ou de centeio</li>
                      <li>1 fatia média de fiambre de frango ou de peru</li>
                      <li>2 fatias de queijo flamengo magro</li>
                      <li>400 ml de leite magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 iogurte natural</li>
                      <li>3 colheres de sopa de cereais integrais</li>
                      <li>1 batido Total Whey (1,5 medidas)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Sopa de legumes (sem farináceos)</li>
                      <li>300-400 g de salada russa (sem maionese), com batata, cenoura, feijão verde, milho, ervilhas, brócolos</li>
                      <li>1 ovo e uma lata de atum escorrido</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 laranja</li>
                      <li>3 bolachas da água e sal com queijo magro</li>
                      <li>1 batido Total Whey (1,5 medidas) com 150ml água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Água</li>
                      <li>Salada de alface, tomate, cebola, temperada com 2 colheres de sumo de limão</li>
                      <li>2-3 peitos de frango com limão e especiarias</li>
                      <li>2 Colheres de sopa de arroz</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 queijo fresco magro ou pouco gordo</li>
                      <li>1 tosta</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>6ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 fatias médias de pão integral ou de centeio</li>
                      <li>Compota de doce light ou com frutose</li>
                      <li>400 ml de leite magro </li>
                      <li>1 queijo fresco magro (pequeno)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 iogurte Natural</li>
                      <li>1 batido Total Whey (1,5 medidas) com 150ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Salada de alface e tomate, beterraba, bróculos</li>
                      <li>Omolete com 1 ovo inteiro e quatro claras em azeite</li>
                      <li>3 colheres de sopa de arroz</li>
                      <li>1 Laranja</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>300-400 ml de leite magro</li>
                      <li>Cereais integrais</li>
                      <li>1 batido Total Whey (1,5 medidas)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">2º Lanche da tarde</h5>
                      <li>2 tostas integrais com queijo magro ou 1 chá</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Água</li>
                      <li>Sopa de Legumes com feijão e grão</li>
                      <li>Salada variada</li>
                      <li>2 postas de cherne grelhado com um fio de azeite</li>
                      <li>1 maçã</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 queijo fresco magro</li>
                      <li>3 bolachas de água e sal</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>Fim de Semana</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>2 fatias de pão integral ou de centeio</li>
                      <li>2 fatias de fiambre de frango ou peru e queijo flamengo magro </li>
                      <li>1 iogurte líquido light</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 iogurte natural</li>
                      <li>1 batido Total Whey (1,5 medidas) com iogurte líquido magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Sopa de hortaliças</li>
                      <li>Ovos escalfados com ervilhas e feijão, cozinhados em azeite</li>
                      <li>1 laranja</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 pêssego</li>
                      <li>3 bolachas da água e sal</li>
                      <li>1 queijo fresco pequeno (magro ou pouco gordo)</li>
                      <li>1 batido Total Whey (1,5 medidas) em 150ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Água</li>
                      <li>Salada de alface, tomate e cebola com 2 colheres de sumo de limão</li>
                      <li>2-3 peitos de frango com limão e especiarias</li>
                      <li>2 Colheres de sopa de arroz</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>2 Tostas</li>
                      <li>1 copo de leite magro (300ml)</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Plano Alimentar Semanal para Mulheres
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-2">
                  <div class="well">
                    <h4>2ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>1 fatia pão mistura </li>
                      <li>1 queijo fresco pouco gordo </li>
                      <li>1 copo de leite magro (200 ml)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Sopa de legumes (s/batata)</li>
                      <li>1 posta de peixe grelhado (130 g)</li>
                      <li>1 batata cozida média ou ¼ prato de arroz</li>
                      <li>salada variada, temperada com 1 colher de sobremesa de azeite</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 peça de fruta</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">2º Lanche da Tarde</h5>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>1 sopa de legumes (s/batata)</li>
                      <li>1 bife de peru grelhado</li>
                      <li>salada temperada com 1 colher de sobremesa de azeite</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 copo de leite magro (200ml)</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>3ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>1 fatia média de pão integral ou de centeio</li>
                      <li>1 queijo fresco magro pequeno ou 1 fatia de queijo Light e 1 fatia de fiambre magro (sem gordura)</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 maçã</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Salada de alface e tomate e 2 colheres de sumo de limão</li>
                      <li>1 posta de filetes de pescada grelhados</li>
                      <li>1 batata cozida média</li>
                      <li>Fio de azeite para temperar</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Sopa de legumes com feijão e grão</li>
                      <li>1 salada variada, temperada com 1 colher de sobremesa de azeite</li>
                      <li>2 de bifes de peru grelhados (médios) com especiarias</li>
                      <li>1 Pêssego</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 copo de leite magro (200ml)</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>4ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>1 taça pequena de cereais integrais light </li>
                      <li>300ml de leite magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 iogurte magro</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Sopa de legumes (sem batata)</li>
                      <li>Salada de alface, atum, milho, feijão, cebola, tomate, 2 colheres de sumo de limão</li>
                      <li>Fio de azeite para temperar</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 maçã</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Água</li>
                      <li>Peito de frango grelhado com especiarias e limão</li>
                      <li>2 colheres de sopa de massa cozida</li>
                      <li>1 pêra</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>2 tostas integrais pequenas</li>
                      <li>1 queijo fresco magro (grande)</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>5ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>1 fatia média de pão integral ou de centeio</li>
                      <li>Compota de frutas ou marmelada sem sacarose, com frutose</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 laranja</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Salada de alface e tomate, 2 colheres de sumo de limão</li>
                      <li>2 bifes de peru grelhados</li>
                      <li>2 colheres de sopa de arroz cozido</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>200 ml de leite magro com cereais light</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Sopa de legumes com feijão, grão, prato médio</li>
                      <li>1 posta de bacalhau cozido com azeite</li>
                      <li>1 ovo</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 iogurte light</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>6ª Feira</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>1 fatia média de pão integral ou de centeio</li>
                      <li>1 fatia de fiambre de frango ou perú e 1 fatia de queijo flamengo magro</li>
                      <li>200 ml de leite magro</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 iogurte Natural</li>
                      <li>3 colheres de sopa de cereais integrais</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Sopa de legumes (sem farináceos)</li>
                      <li>Salada russa (sem maionese) com 1 batata média, cenoura, feijão verde, milho, ervilhas, brócolos (200-250g)</li>
                      <li>1 ovo</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 laranja</li>
                      <li>2 bolachas da água e sal com queijo fresco magro</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Água</li>
                      <li>Salada de alface, tomate e cebola com 2 colheres de sumo de limão</li>
                      <li>2 peitos de frango com limão e especiarias</li>
                      <li>1 colher de sopa de arroz</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>1 queijo fresco magro</li>
                      <li>1 tosta integral</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>Fim de Semana</h4>
                    <ul>
                      <h5 style="font-weight: bold;">Peq. Almoço</h5>
                      <li>300 ml de leite magro </li>
                      <li>1 taça de cereais integrais</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da manhã</h5>
                      <li>1 fatia de queijo light </li>
                      <li>2 bolachas de água e sal</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Almoço</h5>
                      <li>Água</li>
                      <li>Sopa de legumes</li>
                      <li>2 fatias de peito de frango grelhado com limão e especiarias</li>
                      <li>2 colheres de sopa de puré de batata</li>
                      <li>1 laranja</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Lanche da tarde</h5>
                      <li>1 iogurte magro</li>
                      <li>1 batido Depuralina Start (2 medidas) com 200 ml de água</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Jantar</h5>
                      <li>Água</li>
                      <li>Sopa de legumes com feijão e grão</li>
                      <li>1 pêra</li>
                      <li>2 Colheres de sopa de arroz</li>
                    </ul>
                    <ul>
                      <h5 style="font-weight: bold;">Ceia</h5>
                      <li>200 ml de leite magro</li>
                      <li>1 tosta integral</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Plano Alimentar Termogénico
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="well">
                  <h4>O que é a Termogénese?</h4>
                  <p>Já pensou porque razão os animais que hibernam no Inverno não morrem de frio? A responsável é a termogénese, um conjunto de processos bioquímicos e metabólicos que acontece no tecido adiposo, através do qual o corpo produz e mantém a sua temperatura.</p>
                  <p>Aumentar a termogénese permite queimar mais gordura durante o período de repouso, e não necessariamente durante a actividade física.</p>
                  </div>
                  <div class="well">
                    <h4>Queimar gordura mesmo em repouso?</h4>
                    <p>E este é o segredo. Acelerar o metabolismo utilizando a gordura como fonte de energia permite gastar mais calorias sem aumentar o nível de actividade física. </p>
                    <p>Não queremos, com isto, fazer um convite ao sedentarismo. Mas tenha em mente que, para perder apenas 1 quilo de gordura, são necessárias cerca de 4 a 6 semanas de corrida ou marcha, 3 vezes por semana, durante 40 minutos. Mesmo para pessoas fisicamente muito activas, a actividade física representa apenas cerca de 30% do dispêndio energético diário.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <div class="well">
                    <h4>Como aumentar a termogénese através da dieta?</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="well">
                    <h4>1 - Aumentar o consumo de proteínas</h4>
                    <p>As proteínas são os principais constituintes do nosso músculo; carências deste nutriente podem levar à degradação e destruição muscular. </p>
                    <p>Dietas ricas em proteínas (especialmente as do soro do leite) e baixas em hidratos de carbono, promovem a degradação de gorduras pelo aumento da termogénese, contribuindo por isso para uma maior redução da gordura corporal, favorecendo a definição muscular.</p>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>2 - Escolha as melhores gordura.</h4>
                    <p>Todas as gorduras nas nossas dietas foram inicialmente condenadas. A realidade é que, tal como nos hidratos de carbono, existem vários tipos de gorduras.</p>
                    <p>A gordura mais conhecida e mais comum nas carnes gordas e lacticínios é a gordura saturada, que é totalmente desaconselhada, tal como as gorduras trans que se encontram nas margarinas, bolachas, massas folhadas e similares. </p>
                    <p>Mas existem gorduras benéficas, como as gorduras insaturadas e as polinsaturadas não hidrogenadas (não trans).</p>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>3 - Comer várias vezes ao dia</h4>
                    <p>Esta é uma regra básica para se promover a termogénese – quando comemos obrigamos o organismo a despender energia. </p>
                    <p>Até cerca de 10% do que gastamos diariamente pode ser proveniente deste trabalho de digerir, absorver e metabolizar os nutrientes. </p>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>4 -Tome um bom pequeno-almoço.</h4>
                    <p>"Saltar" o pequeno-almoço significa que passa mais de 12 horas sem comer. O seu organismo entende isto como um sinal de que está a passar fome e, como protecção, faz baixar o metabolismo.</p>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="well">
                    <h4>5 -Depois de comer, mexa-se.</h4>
                    <p>Uma pequena caminhada 10 minutos após a refeição pode efectivamente aumentar a termogénese, ajudando o seu corpo a gastar até 10% mais calorias do que o normal durante a digestão.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>

{% endblock %}
