{% extends 'client/base_client.html' %}
{% block title %}Pagina Inicial{% endblock %}
{% block client_active %}active{% endblock %}

{% block body %}
 <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <div class="well">
                  <h1>Area de cliente</h1>
              </div>
              <div class="well">
                <h3>A tua área. A área onde poderás gerir os teus treinos, verificar o teu progresso e ter acesso a conteudos para te ajudar a melhorar.</h3>
              </div>
          
            </div>
        </div>
      </div>
    </div>

{% endblock %}
