{% extends 'client/base_mercha.html' %}
{% load static %}
{% block title %}Venda de Merchandising{% endblock %}
{% block mercha_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
  <h2>Venda de Merchandising - Roupa</h2>
  <div class="row">
      <div class="col-md-3">
           <div class="well">
                <img src="{% static 'client/images/merch/roupa/camisola1.png' %}"/>
           </div>
       </div>
       <div class="col-md-3">
            <div class="well">
                <img src="{% static 'client/images/merch/roupa/camisola2.png' %}"/>
            </div>
        </div>
        <div class="col-md-3">
             <div class="well">
                  <img src="{% static 'client/images/merch/roupa/calções1.png' %}"/>
             </div>
         </div>
         <div class="col-md-3">
              <div class="well">
                    <img src="{% static 'client/images/merch/roupa/casaco1.png' %}"/>
              </div>
          </div>
     </div>
     <div class="row">
         <div class="col-md-3">
              <div class="well">
                    <img src="{% static 'client/images/merch/roupa/interior1.png' %}"/>
              </div>
          </div>
          <div class="col-md-3">
               <div class="well">
                      <img src="{% static 'client/images/merch/roupa/leggings.png' %}"/>
               </div>
           </div>
           <div class="col-md-3">
                <div class="well">
                      <img src="{% static 'client/images/merch/roupa/camisola3.png' %}"/>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="well">
                          <img src="{% static 'client/images/merch/roupa/camisola4.png' %}"/>
                 </div>
             </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                 <div class="well">
                        <img src="{% static 'client/images/merch/roupa/camisola5.png' %}"/>
                 </div>
             </div>
             <div class="col-md-3">
                  <div class="well">
                          <img src="{% static 'client/images/merch/roupa/casaco2.png' %}"/>
                  </div>
              </div>
              <div class="col-md-3">
                   <div class="well">
                            <img src="{% static 'client/images/merch/roupa/calções2.png' %}"/>
                   </div>
               </div>
               <div class="col-md-3">
                    <div class="well">
                              <img src="{% static 'client/images/merch/roupa/calças.png' %}"/>
                    </div>
                </div>
           </div>
</div>

{% endblock %}
