{% extends 'client/base_mercha.html' %}
{% load static %}
{% block title %}Venda de Merchandising{% endblock %}
{% block mercha_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">
  <h2>Venda de Merchandising-acessorios</h2>
  <div class="row">
      <div class="col-md-3">
           <div class="well">
              <img src="{% static 'client/images/merch/acessorios/faixa.png' %}"class="img-responsive"/>
           </div>
       </div>
       <div class="col-md-3">
            <div class="well">
              <img src="{% static 'client/images/merch/acessorios/corda.png' %}"class="img-responsive"/>
            </div>
        </div>
        <div class="col-md-3">
             <div class="well">
                <img src="{% static 'client/images/merch/acessorios/step.png' %}"class="img-responsive"/>
             </div>
         </div>
         <div class="col-md-3">
              <div class="well">
                <img src="{% static 'client/images/merch/acessorios/cnt.png' %}"class="img-responsive"/>
              </div>
          </div>
     </div>
     <div class="row">
         <div class="col-md-3">
              <div class="well">
                  <img src="{% static 'client/images/merch/acessorios/pass1.png' %}"class="img-responsive"/>
              </div>
          </div>
          <div class="col-md-3">
               <div class="well">
                  <img src="{% static 'client/images/merch/acessorios/pass2.png' %}"class="img-responsive"/>
               </div>
           </div>
           <div class="col-md-3">
                <div class="well">
                  <img src="{% static 'client/images/merch/acessorios/elpt.png' %}"class="img-responsive"/>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="well">
                    <img src="{% static 'client/images/merch/acessorios/elpt2.png' %}"class="img-responsive"/>
                 </div>
             </div>
        </div>

           </div>
</div>

{% endblock %}
