{% extends 'client/base_suply.html' %}
{% load static %}
{% block title %}Venda de Suplementos{% endblock %}
{% block suply_active %}active{% endblock %}


{% block body %}


<div class="container-fluid">
  <h2>Venda de Suplys - Emagrecer </h2><br>
  <h2>Mulher</h2>
  <div class="row">
      <div class="col-md-3">
           <div class="well">
              <div align="center"><img src="{% static 'client/images/suply/suply_emagrecer/mulher/sup5.png' %}" class="img-responsive"/></div>
           </div>
       </div>
       <div class="col-md-3">
            <div class="well">
                <div align="center"><img src="{% static 'client/images/suply/suply_emagrecer/mulher/sup6.png' %}"class="img-responsive"/></div>
            </div>
        </div>
        <div class="col-md-3">
             <div class="well">
                  <div align="center"><img src="{% static 'client/images/suply/suply_emagrecer/mulher/sup7.png' %}"class="img-responsive"/></div>
             </div>
         </div>
         <div class="col-md-3">
              <div class="well">
                  <div align="center"><img src="{% static 'client/images/suply/suply_emagrecer/mulher/sup8.png' %}"class="img-responsive"/></div>
              </div>
          </div>
     </div>


       <h2>Homem</h2><br>
     <div class="row">
         <div class="col-md-3">
              <div class="well">
                  <div align="center"><img src="{% static 'client/images/suply/suply_emagrecer/homem/sup1.png' %}"class="img-responsive"; style="ali"/></div>
              </div>
          </div>
          <div class="col-md-3">
               <div class="well">
                  <div align="center"><img src="{% static 'client/images/suply/suply_emagrecer/homem/sup2.png' %}"class="img-responsive"/></div>
               </div>
           </div>
           <div class="col-md-3">
                <div class="well">
                    <div align="center"><img src="{% static 'client/images/suply/suply_emagrecer/homem/sup3.png' %}"class="img-responsive"/></div>
                </div>
            </div>
            <div class="col-md-3">
                 <div class="well">
                      <div align="center"><img src="{% static 'client/images/suply/suply_emagrecer/homem/sup4.png' %}"class="img-responsive"/></div>
                 </div>
             </div>
        </div>

           </div>
</div>


{% endblock %}
